body {
  margin: 0;
}
/* logo */
#logo {
  width: 100%;
  height: 70px;
  background-color: #1f272b;
}
#logo .logo {
  position: relative;
  left: 80px;
  height: 40px;
  top: 14px;
}
#logo .fb {
  position: relative;
  left: 1245px;
  height: 30px;
  top: 8px;
  width: 30px;
}

#logo .twitter {
  height: 35px;
  width: 35px;
  position: relative;
  left: 1250px;
  top: 10px;
}
#logo .whatsapp {
  height: 30px;
  width: 30px;
  position: relative;
  left: 1255px;
  top: 8px;
}
#logo .linkedin {
  height: 30px;
  width: 30px;
  position: relative;
  left: 1260px;
  top: 8px;
}

/* backgroung video */
#bgvideo {
  width: 100%;
  height: 400px;
  /* background-color: aqua; */
  position: relative;
  bottom: 25px;
}
#edu {
  width: 100%;
  height: 100px;
  background-color: red;
  /* background: #fff; */
}
#edu h2 {
  margin-left: 78px;
  position: relative;
  top: 36px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  color: aliceblue;
}

#edu li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-left: 19px;
  display: inline-block;
  position: relative;
  bottom: 60px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  color: aliceblue;
}

.home {
  padding-left: 964px;
}
#video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(31, 39, 43, 0.75);
  width: 100%;
  height: 855px;
  opacity: 0.9;
}
#hellocontent {
  width: 100%;
  height: 500px;
  /* background-color: aquamarine; */
  position: relative;
  bottom: 22px;
}
h4 {
  margin-left: 78px;
  position: relative;
  top: 120px;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  z-index: 1;
}
#hellocontent h1 {
  margin-left: 78px;
  position: relative;
  top: 120px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  z-index: 1;
}
.edupara {
  margin-left: 78px;
  position: relative;
  top: 120px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  color: aliceblue;
  z-index: 1;
}
.edubutton {
  margin-left: 78px;
  position: relative;
  top: 130px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-radius: 16px;
  width: 140px;
  height: 35px;
  background-color: #972e30;
  color: aliceblue;
  border: 1px solid #972e30;
  z-index: 1;
}
/* upcoming meeting */

#meeting {
  width: 100%;
  height: 800px;
  /* background-color: aquamarine; */
}
.bestteacher {
  width: 28%;
  height: 300px;
  background-color: #972e30;
  margin-left: 78px;
  display: inline-block;
  position: relative;
  bottom: 530px;
  border-radius: 10px;
}
.beststudent {
  width: 28%;
  height: 300px;
  background-color: #972e30;
  margin-left: 78px;
  display: inline-block;
  position: relative;
  bottom: 530px;
  right: 30px;
  border-radius: 10px;
}
.besteducation {
  width: 27%;
  height: 300px;
  background-color: #972e30;
  margin-left: 78px;
  display: inline-block;
  position: relative;
  bottom: 530px;
  right: 60px;
  border-radius: 10px;
}
.meetingimg {
  margin-left: 182px;
  margin-top: 40px;
}
.meetingheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 132px;
  margin-top: 30px;
  color: aliceblue;
}
.teachpara {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-align: center;
  margin-left: 20px;
  line-height: 1.3;
  margin-top: 30px;
  color: aliceblue;
}

/* Upcoming Heading */
.upheading {
  position: relative;
  bottom: 470px;
  text-align: center;
  margin-left: 80px;
  color: #ffffff;
  border-bottom: 1px solid rgba(250, 250, 250, 0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(250, 250, 250, 0.15);
  padding-bottom: 30px;
  width: 1380px;
}

/* leftside box */
#meetingcategories {
  width: 30%;
  height: 786px;
  background-color: #ffffff;
  margin-left: 78px;
  position: relative;
  bottom: 420px;
  display: inline-block;
  border-radius: 8px;
}
.meetingtitle {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  margin-left: 40px;
  margin-top: 30px;
}
.meetinglist .status {
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 2.5;
  position: relative;
  bottom: -8px;
}

.upcomebutton {
  position: relative;
  bottom: -6px;
  margin-left: 40px;
  width: 250px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #972e30;
  background-color: #972e30;
  color: aliceblue;
}
/* rightside box 1 */
#newlecture {
  width: 27%;
  height: 380px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 78px;
  position: relative;
  bottom: 695px;
  right: 8px;
  display: inline-block;
}
/* rightside box 2 */
#onlineteach {
  width: 27%;
  height: 380px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 78px;
  position: relative;
  bottom: 695px;
  right: 73px;
  display: inline-block;
}
/* rightside box 3 */
#highedu {
  width: 27%;
  height: 380px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 615px;
  position: relative;
  bottom: 800px;
  right: 8px;
  display: inline-block;
}
/* rightside box 4 */
#studenttraining {
  width: 27%;
  height: 380px;
  background-color: #ffffff;
  margin-left: 78px;
  border-radius: 8px;
  position: relative;
  bottom: 800px;
  right: 73px;
  display: inline-block;
}
/* rightside box 1,2,3,4 data */
.meetingcategoryimg {
  position: relative;
  left: -1px;
  width: 412px;
  border-radius: 8px;
}
.rate {
  position: relative;
  bottom: 220px;
  left: 20px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: 600;
}
.date {
  position: relative;
  top: -6%;
  right: 50px;
  font-size: 15px;
  color: #972e30;
}
.date span {
  font-size: 20px;
  color: black;
}
.lecturehead {
  margin-left: 90px;
  position: relative;
  bottom: 90px;
  font-family: "Poppins", sans-serif;
}
.lecturepara {
  margin-left: 90px;
  position: relative;
  bottom: 90px;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}
#upcomebg {
  background-image: url(eduimg/meetings-bg.jpg);
  height: 1640px;
}
/* Apply for bachelor degree  */
#applicationbox1 {
  width: 40%;
  height: 270px;
  background-color: rgba(250, 250, 250, 0.15);
  margin-left: 78px;
  position: relative;
  top: 80px;
  border-radius: 8px;
}
.apply {
  margin-left: 30px;
  padding-top: 50px;
  color: aliceblue;
}
.applypara {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  padding-top: 10px;
  color: #ffffff;
}
.applybutton {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-radius: 16px;
  width: 140px;
  height: 35px;
  background-color: #972e30;
  color: aliceblue;
  border: 1px solid #972e30;
  position: relative;
  top: 20px;
}
#applicationbox2 {
  width: 40%;
  height: 270px;
  background-color: rgba(250, 250, 250, 0.15);
  margin-left: 78px;
  display: inline-block;
  position: relative;
  bottom: 240px;
  border-radius: 8px;
}
.apply2 {
  margin-left: 30px;
  padding-top: 30px;
  color: aliceblue;
}
.applybutton2 {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-radius: 16px;
  width: 140px;
  height: 35px;
  background-color: #f5a425;
  color: aliceblue;
  border: 1px solid #f5a425;
  position: relative;
  top: 20px;
}
#aboutedu {
  width: 45%;
  height: 590px;
  background-color: #ffffff;
  margin-left: 78px;
  display: inline-block;
  position: relative;
  right: 7px;
  bottom: 190px;
  border-radius: 8px;
}
.abouteduhead {
  margin-left: 30px;
  padding-top: 30px;
  color: #f5a425;
  font-family: "Poppins", sans-serif;
}
.downarrow {
  margin-left: 580px;
  position: relative;
  bottom: 45px;
}
.applyedupara {
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  position: relative;
  bottom: 30px;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 209, 209);
  padding-bottom: 30px;
  width: 680px;
}
.abouteduhead2 {
  margin-left: 30px;
  padding-top: -3px;
  color: #f5a425;
  font-family: "Poppins", sans-serif;
}
.abouteduhead3 {
  margin-left: 30px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}
.rightarrow {
  margin-left: 580px;
  position: relative;
  bottom: 45px;
}
#applicationbg {
  background-image: url(eduimg/apply-bg3.jpg);
  width: 100%;
  height: 760px;
  position: relative;
  bottom: 20px;
}
/* Our popular courses */
#popularheading {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-left: 78px;
  margin-top: 50px;
  position: relative;
  top: 75px;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 209, 209);
  padding-bottom: 30px;
  width: 1368px;
}
#coursebox1 {
  width: 21%;
  height: 370px;
  background-color: #ffffff;
  margin-left: 78px;
  margin-top: 110px;
  display: inline-block;
}
#coursebox2 {
  width: 21%;
  height: 370px;
  background-color: #ffffff;
  margin-left: 27px;
  margin-top: 110px;
  display: inline-block;
}
#coursebox3 {
  width: 21%;
  height: 370px;
  background-color: #ffffff;
  margin-left: 27px;
  margin-top: 110px;
  display: inline-block;
}
#coursebox4 {
  width: 21%;
  height: 370px;
  background-color: #ffffff;
  margin-left: 27px;
  margin-top: 110px;
  display: inline-block;
}
.boxpara1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1.6;
}
.ratings {
  margin-left: 25px;
  margin-top: 15px;
}
.price {
  position: relative;
  bottom: 50px;
  margin-left: 250px;
  color: #972e30;
  font-size: 20px;
  font-weight: 700;
}

#popularbg {
  background-image: url(eduimg/meetings-bg.jpg);
  height: 660px;
  position: relative;
  bottom: 70px;
}
/* About University */
#universityheading {
  font-family: "Poppins", sans-serif;
  margin-left: 78px;
  font-size: 30px;
  color: aliceblue;
  position: relative;
  top: 80px;
}
#universitybox1 {
  width: 20%;
  height: 160px;
  background-color: rgba(250, 250, 250, 0.15);
  margin-left: 78px;
  position: relative;
  top: 120px;
  border-radius: 10px;
  display: inline-block;
}
#universitybox2 {
  width: 20%;
  height: 160px;
  background-color: rgba(250, 250, 250, 0.15);
  position: relative;
  top: 170px;
  left: 30px;
  border-radius: 10px;
  display: inline-block;
}
#universitybox3 {
  width: 20%;
  height: 160px;
  background-color: rgba(250, 250, 250, 0.15);
  margin-left: 78px;
  position: relative;
  top: 140px;
  border-radius: 10px;
  display: inline-block;
}
#universitybox4 {
  width: 20%;
  height: 160px;
  background-color: rgba(250, 250, 250, 0.15);
  position: relative;
  top: 190px;
  left: 30px;
  border-radius: 10px;
  display: inline-block;
}
#videobox {
  width: 44%;
  height: 350px;
  /* background-color: aqua; */
  background-image: url(eduimg/video-item-bg.jpg);
  display: inline-block;
  margin-left: 780px;
  position: relative;
  bottom: 160px;
  border-radius: 10px;
}
.percentage {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #f5a425;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
}
.topic {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #eee;
}
.videoimg {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.playbutton {
  margin: 170px;
  position: relative;
  left: 150px;
}
#universitybg {
  background-image: url(eduimg/facts-bg.jpg);
  height: 670px;
  position: relative;
  bottom: 95px;
}
/* FORM page */
#form {
  width: 60%;
  height: 500px;
  background-color: #ffffff;
  margin-left: 78px;
  display: inline-block;
  border-radius: 15px;
  position: relative;
  top: 50px;
}

#formheading {
  font-family: "Poppins", sans-serif;
  word-spacing: 2px;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(54, 52, 52);
  padding-bottom: 30px;
  width: 850px;
  margin-left: 34px;
  margin-top: 50px;
}
.text {
  height: 35px;
  width: 27.5%;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #e4dede;
  color: #7a7a7a;
  font-weight: 600;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}
.text2 {
  width: 93%;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  border: #eee;
  color: #7a7a7a;
  font-weight: 600;
  padding-bottom: 100px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #e4dede;
}
.send {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  background-color: #972e30;
  color: aliceblue;
  border: 1px solid #972e30;
  position: relative;
  top: 35px;
}
#contact {
  width: 26%;
  height: 500px;
  background-color: #972e30;
  margin-left: 58px;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  top: 100px;
}

.ph1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  top: 25px;
  margin-left: 40px;
  color: #ffffff;
}
.ph2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 209, 209);
  padding-bottom: 15px;
  width: 180px;
  margin-left: 40px;
  margin-top: 35px;
  color: #ffffff;
}
.ph3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  top: 12px;
  margin-left: 40px;
  color: #ffffff;
}
.ph4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 209, 209);
  padding-bottom: 22px;
  width: 250px;
  margin-left: 40px;
  margin-top: 20px;
  color: #ffffff;
}
.ph5 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  top: 12px;
  margin-left: 40px;
  color: #ffffff;
}
.ph6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 209, 209);
  padding-bottom: 22px;
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  color: #ffffff;
}
.ph7 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  top: 25px;
  margin-left: 40px;
  color: #ffffff;
}
.ph8 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 35px;
  color: #ffffff;
}
#formbg {
  background-image: url(eduimg/meetings-bg.jpg);
  height: 680px;
  position: relative;
  bottom: 95px;
}
#designedby {
  text-align: center;
  padding-top: 150px;
  font-style: italic;
}
